<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.project1.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>com.project1.controller.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetch</display-name>
    <servlet-name>Fetch</servlet-name>
    <servlet-class>com.project1.controller.Fetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetch</servlet-name>
    <url-pattern>/fetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.project1.controller.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>com.project1.controller.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/custmoerloginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Credit</display-name>
    <servlet-name>Credit</servlet-name>
    <servlet-class>com.project1.controller.Credit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Credit</servlet-name>
    <url-pattern>/credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Debit</display-name>
    <servlet-name>Debit</servlet-name>
    <servlet-class>com.project1.controller.Debit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Debit</servlet-name>
    <url-pattern>/debit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer</display-name>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>com.project1.controller.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStatement</display-name>
    <servlet-name>ViewStatement</servlet-name>
    <servlet-class>com.project1.controller.ViewStatement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStatement</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.project1.controller.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.project1.controller.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenAccount</display-name>
    <servlet-name>OpenAccount</servlet-name>
    <servlet-class>com.project1.controller.OpenAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenAccount</servlet-name>
    <url-pattern>/open</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStatementEmp</display-name>
    <servlet-name>ViewStatementEmp</servlet-name>
    <servlet-class>com.project1.controller.ViewStatementEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStatementEmp</servlet-name>
    <url-pattern>/view1</url-pattern>
  </servlet-mapping>
</web-app>